extends layouts/layout
append loadtitle
    -title += ' | 网站信息'

append styles
    link(rel='stylesheet', href='/plugins/jquery-file-upload/css/jquery.fileupload.css')
    link(rel='stylesheet', href='/styles/loading.css')

block cms_content
    .content_main
        mixin toastr(status, msg)
        .container-fluid
            section.todo-content
                div.panel-title.pll 网站信息
                    small 网站信息维护
            .col-md-12: .box.box-info
                .box-header.with-border: h3.box-title 网站信息
                form.form-horizontal(data-validate="parsley", method='post', action='/cms/website/update')
                    .box-body
                        .col-sm-8
                            .form-group
                                label.col-sm-2.control-label(style='margin-top:40px') 网站LOGO
                                .col-sm-10
                                    input#hidden_logo(name='logo',type='hidden',value='#{website.logo ? website.logo : ""}')
                                    img#logo_pic(style='width:100px;height:100px;display:inline;',src='#{website.logo ? website.logo : ""}')
                                    span.btn.btn-default.btn-xs.mll.fileinput-button(style='margin-top:74px;')
                                        i.fa.fa-upload
                                        input#file1(type='file',name='filesdata')
                            .form-group
                                input#id(name='id',type='hidden',value="#{website.id}")
                                label.col-sm-2.control-label(for='title') 网站标题
                                .col-sm-10: input#title.form-control.parsley-validated(name='title',type='text',placeholder='网站标题',
                                value="#{website.title}",autocomplete="off",data-required="true")
                            .form-group
                                label.col-sm-2.control-label(for='siteurl') 网站网址
                                .col-sm-10: input#siteurl.form-control.parsley-validated(name='siteurl',type='text',placeholder='网站网址',
                                value="#{website.siteurl}",autocomplete="off",data-required="true")
                            .form-group
                                label.col-sm-2.control-label(for='keywords') 搜索关键词
                                .col-sm-10: input#keywords.form-control.parsley-validated(name='keywords',type='text',placeholder='多个关键词以 "," 号间隔',
                                value="#{website.keywords}",autocomplete="off",data-required="true")
                            .form-group
                                label.col-sm-2.control-label(for='description') 网站描述
                                .col-sm-10: textarea#description.textarea.form-control.parsley-validated(name="description",rows="5",placeholder="网站描述",
                                autocomplete="off",data-required="true") #{website.description}
                            .form-group
                                label.col-sm-2.control-label(for='support_name') 技术支持
                                .col-sm-4: input#support_name.form-control.parsley-validated(name='support_name',type='text',placeholder='技术支持',
                                value="#{website.support_name}",autocomplete="off",data-required="true")
                                label.col-sm-2.control-label(for='support_url') 技术支持网址
                                .col-sm-4: input#support_url.form-control.parsley-validated(name='support_url',type='text',placeholder='技术支持网址',
                                value="#{website.support_url}",autocomplete="off")
                            .form-group
                                label.col-sm-2.control-label(for='icp_num') 备案号
                                .col-sm-4: input#icp_num.form-control.parsley-validated(name='icp_num',type='text',placeholder='公司规模(ex: 1-49人)',
                                value="#{website.icp_num}",autocomplete="off")
                                label.col-sm-2.control-label(for='views') 浏览次数
                                .col-sm-4: input#views.form-control.parsley-validated(name='views',type='text',placeholder='浏览次数',
                                value="#{website.views}",autocomplete="off",readonly="readonly")
                            .form-group
                                input#carousel(name='carousel',type='hidden',value="#{website.carousel}")
                                label.col-sm-2.control-label 轮播图片
                                .col-sm-10: span.btn.btn-default.fileinput-button
                                    i.fa.fa-picture-o
                                    span 选择图片
                                    input#carouselfile1(type='file',name='filesdata')
                            .form-group
                                .col-sm-offset-2.col-sm-10
                                    blockquote.note.note-info
                                        h4 注意事项
                                        ul
                                            //li 支持多选
                                            li 最大文件大小上传
                                                strong 200MB
                                                | .
                                            li 支持的图片类型有（
                                                strong JPG, GIF, PNG
                                                | ）.
                                            li 轮播图片建议比例（
                                                strong 1110 X 300、900 X 243、370 X 100
                                                | 像素）.
                            .form-group: .col-sm-offset-2.col-sm-10
                                a.btn.btn-default(type='button',href='/cms/') 取消更改
                                input#btn_submit.btn.btn-info.mll(name='btn_submit',type='button',value='确认更改')
                        .col-sm-4(ng-app="picturelist",ng-controller="picturelistCtrl")
                            .form-group(ng-repeat="picture in picturelists")
                                .col-sm-12.details-picture
                                    .col-sm-12.text-center
                                        label.mrlgr {{$index+1}}
                                        a.btn.btn-danger.btn-xs.mllgr(ng-click='DeletePicture($index)')
                                            i.fa.fa-times
                                            span 删除此图片
                                    img(ng-src='{{picture?picture:""}}')

append scripts
    script(type='text/javascript',src='/plugins/jquery-file-upload/js/jquery.fileupload-ajax.js')
    script(type='text/javascript',src='/js/cms/UploadPageJS.js')
    script(type='text/javascript').
        //当选中文件,则立即执行上传
        $(document).on("change", "#file1", function () {
            if ($("#file1").val() != "") {
                FileAction.FileUpload("file1", 0, null , $("#logo_pic"), $("#hidden_logo"), null );
            }
        });
    script(type='text/javascript',src='/plugins/angular/angular.min.js')
    script(type='text/javascript').
        var app = angular.module('picturelist', []);
        app.controller('picturelistCtrl', function ($scope) {
            $scope.picturelists = [];
            $scope.LoadPicture = function () {
                var carousel = '#{website.carousel}';
                if(carousel){
                    $scope.picturelists = carousel.split("|");
                }
            };
            $scope.DeletePicture = function (index) {
                $scope.picturelists.splice(index, 1);
                $scope.$apply();
            };
            $scope.LoadPicture();
            //当选中文件,则立即执行上传
            $(document).on("change", "#carouselfile1", function () {
                if ($("#carouselfile1").val() != "") {
                    if ($scope.picturelists.length >= 5) {
                        toastrShow(3, '轮播图片最多上传5张');
                        return;
                    }
                    FileAction.FileUpload("carouselfile1", 0, null, null, null, null, null, $scope.picturelists, $scope);
                }
            });

            $("#btn_submit").on('click', function () {
                $("#carousel").val($scope.picturelists.join("|"));
                //表单验证
                var valid = $("form").parsley().validate();
                if (!valid)
                    return;

                //表单验证通过：则提交
                $.ajax({
                    url: "/cms/website/update",
                    type: "post",
                    dataType: "json",
                    data: $("form").serialize(),
                    success: function (data) {
                        if (data.status > 0) {
                            toastrShow(data.status, data.msg);
                            setTimeout(function () {
                                window.location = "/cms/website";
                            }, '1500')
                        } else {
                            toastrShow(data.status, data.msg);
                        }
                    }
                });
            });
        });