.header
    .logo: img(src='#{website.siteurl + "img/cms/logo_new.png"}')
    .menu_ctl.show_block: img(src='#{website.siteurl + "img/cms/menu_btn.png"}')
    .usr_center.right.wt_dd.show_block
        .photo: img(src='#{user.avatar ? website.siteurl + user.avatar : website.siteurl + "img/cms/default_usr_photo.png"}')
        .usr_info.left
            h4 #{user.displayname}
        .drop_down(style='dispaly: none;')
            .photo_box
                .photo_big: img(src='#{user.avatar ? website.siteurl + user.avatar : website.siteurl + "img/cms/default_usr_photo.png"}')
                h5 #{user.displayname}
                p 最后登录时间: #{user.lastlogintime}
            .center_part
                p(style='margin-bottom:0px;'): a(href='/cms/user/center') 用户资料
                p(style='margin-bottom:0px;'): a(href='#') 登录记录
            .bottom_part
                a.btn.btn-large.btn-block.btn-inverse(href='/cms/user/forget') 设置密码
                a.btn.btn-large.btn-block.btn-danger(href='/cms/logout') 注销
    .header_opr.right
        .opr_single.wt_dd.left.alert.show_block