extends layouts/layout
append loadtitle
    -title += ' | 联系方式'

append styles
    style(type="text/css").
        #allmap {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
            font-family: "微软雅黑";
            border: 2px dashed #bbbbbb;
        }

block show_sider
    -var show_contact = false;
    -var show_category = true;

block web_content
    mixin toastr(status, msg)
    section.container-body
        .row
            .col-sm-12.side-header 联系方式
            .col-sm-12.side-body
                .col-sm-8
                    form.form-horizontal
                        //.form-group.mbn
                        //    label.col-sm-3.control-label.prn: strong 公司名称：
                        //    .col-sm-7.pln: span.form-control.noborder #{company.company_name}
                        //.form-group.mbn
                        //    label.col-sm-3.control-label.prn: strong 公司地址：
                        //    .col-sm-7.pln: span.form-control.noborder #{company.address}
                        .form-group.mbn
                            label.col-sm-3.control-label.prn: strong 联系人：
                            .col-sm-7.pln: span.form-control.noborder #{contact.contact_name}
                        .form-group.mbn
                            label.col-sm-3.control-label.prn: strong 公司电话：
                            .col-sm-7.pln: span.form-control.noborder #{contact.contact_phone}
                        .form-group.mbn
                            label.col-sm-3.control-label.prn: strong 公司传真：
                            .col-sm-7.pln: span.form-control.noborder #{contact.contact_fax}
                        .form-group.mbn
                            label.col-sm-3.control-label.prn: strong 电子邮件：
                            .col-sm-7.pln: span.form-control.noborder #{contact.contact_email}
                        .form-group.mbn
                            label.col-sm-3.control-label.prn: strong 手机号码：
                            .col-sm-7.pln: span.form-control.noborder #{contact.contact_mobile}
                .col-sm-4
                    img(src='/img/web/qrcode.jpg',style="width:100%")
        .row
            .col-sm-12.side-header 公司地图
            .col-sm-12.side-body
                div(style='width: 100%;height: 350px;')
                    #allmap

append scripts
    script(type = 'text/javascript').
        $(document).ready(function () {
            // 百度地图API功能
            var map = new BMap.Map("allmap");                          // 创建Map实例
            var point = new BMap.Point('#{contact.location_lng}', '#{contact.location_lat}');      // 创建Point点
            map.centerAndZoom(point, 11);                               // 初始化地图,设置中心点坐标、地图缩放级别
            map.addControl(new BMap.MapTypeControl());                  // 添加地图类型控件
            map.enableScrollWheelZoom(true);                            // 启用滚轮放大缩小，默认禁用
            map.enableContinuousZoom(true);                             // 启用地图惯性拖拽，默认禁用
            var marker = new BMap.Marker(point);                        // 创建标注
            map.addOverlay(marker);                                     // 将标注添加到地图中
            marker.setAnimation(BMAP_ANIMATION_BOUNCE);                 // 跳动的动画
        });
