extends layouts/layout
append loadtitle
    -title += ' | 荣誉详情'

block web_content
    mixin toastr(status, msg)
    section.container-body
        .row
            .col-sm-12.side-header 荣誉详情
            .col-sm-12.side-body
                p.col-sm-12.text-center #{honor.honor_name}
                .col-sm-12.text-center.news-sub-title
                    span.mrl 上传时间：#{honor.createtime}
                    span.mrl 浏览次数：#{honor.views}
                    a.mrl(href='/honor/list') 返回列表
                .col-sm-12
                    table.table.table-bordered: tbody
                        tr
                            th 发证机构：
                            td #{honor.certification}
                            th 发证时间：
                            td #{honor.publish_date}
                        tr
                            th 上传时间：
                            td #{honor.createtime}
                            th 有效期至：
                            td #{honor.expiry_date?honor.expiry_date:'永久有效'}
        .row
            .col-sm-12.side-header 证书图片
            .col-sm-12.side-body
                .col-sm-offset-1.col-sm-10
                    img(src='#{honor.pic_url_loc}',width='100%')

append scripts
    script(type = 'text/javascript').
        $(document).ready(function () {
            $.ajax({
                url: "/views",
                type: "post",
                data: {type: "honor", id: '#{honor.id}', views: '#{honor.views}'},
                dataType: "json",
                success: function (data) {
                    if (data.status != 1) {
                        toastrShow(data.status, data.msg);
                    }
                }
            });
        });
