extends layouts/layout
append loadtitle
    -title += ' | 相册详情图片'

append styles
    link(rel='stylesheet', href='/plugins/lightbox2/css/lightbox.min.css')

block web_content
    mixin toastr(status, msg)
    section.container-body
        .row
            .col-sm-12.side-header 相册详情
            .col-sm-12.side-body
                p.col-sm-12.text-center #{photo.photo_name}
                .col-sm-12.text-center.news-sub-title
                    span.mrl 创建时间：#{photo.createtime}
                    span.mrl 浏览次数：#{photo.views}
                    a.mrl(href='/photo/list') 返回列表
                .col-sm-12
        .row
            .col-sm-12.side-header 相册图片
            .col-sm-12.side-body.side-body.demo-browser
                .demo-browser-content
                    -for(var item in photolist)
                        .pro
                            a(href= photolist[item].pic_url_loc,data-lightbox="group")
                                img(src!= photolist[item].pic_url_loc)
                            .pro-body
                                span #{photolist[item].pic_name}

append scripts
    script(type='text/javascript',src='/plugins/lightbox2/js/lightbox.min.js')
    script(type = 'text/javascript').
        $(document).ready(function () {
            $.ajax({
                url: "/views",
                type: "post",
                data: {type: "photo", id: '#{photo.id}', views: '#{photo.views}'},
                dataType: "json",
                success: function (data) {
                    if (data.status != 1) {
                        toastrShow(data.status, data.msg);
                    }
                }
            });
        });
